body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:860px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u620 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u621 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u622 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:824px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u623 {
  position:absolute;
  left:471px;
  top:71px;
  width:389px;
  height:824px;
}
#u624 {
  position:absolute;
  left:2px;
  top:404px;
  width:385px;
  visibility:hidden;
  word-wrap:break-word;
}
#u625_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u625 {
  position:absolute;
  left:478px;
  top:145px;
  width:376px;
  height:668px;
}
#u626 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u627_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:11px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u627 {
  position:absolute;
  left:578px;
  top:101px;
  width:175px;
  height:11px;
}
#u628 {
  position:absolute;
  left:2px;
  top:-2px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:11px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u629 {
  position:absolute;
  left:578px;
  top:844px;
  width:175px;
  height:11px;
}
#u630 {
  position:absolute;
  left:2px;
  top:-2px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u631 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u632_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:25px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u632 {
  position:absolute;
  left:478px;
  top:145px;
  width:376px;
  height:25px;
}
#u633 {
  position:absolute;
  left:2px;
  top:4px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u634_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:14px;
}
#u634 {
  position:absolute;
  left:742px;
  top:151px;
  width:104px;
  height:14px;
}
#u635 {
  position:absolute;
  left:2px;
  top:-1px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u636 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:182px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u637 {
  position:absolute;
  left:478px;
  top:170px;
  width:376px;
  height:182px;
}
#u638 {
  position:absolute;
  left:2px;
  top:83px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u639_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u639 {
  position:absolute;
  left:499px;
  top:224px;
  width:65px;
  height:38px;
  font-size:16px;
}
#u640 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u641 {
  position:absolute;
  left:577px;
  top:307px;
  width:195px;
  height:15px;
}
#u642 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  white-space:nowrap;
}
#u643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u643 {
  position:absolute;
  left:724px;
  top:277px;
  width:100px;
  height:19px;
  font-size:16px;
}
#u644 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u645 {
  position:absolute;
  left:499px;
  top:277px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u646 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u647 {
  position:absolute;
  left:499px;
  top:307px;
  width:71px;
  height:16px;
}
#u648 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u649 {
  position:absolute;
  left:578px;
  top:278px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u650 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:7px;
}
#u651 {
  position:absolute;
  left:477px;
  top:351px;
  width:377px;
  height:7px;
}
#u652 {
  position:absolute;
  left:2px;
  top:-4px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:19px;
}
#u653 {
  position:absolute;
  left:820px;
  top:304px;
  width:26px;
  height:19px;
}
#u654 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u655 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:2px;
}
#u656 {
  position:absolute;
  left:477px;
  top:256px;
  width:377px;
  height:1px;
}
#u657 {
  position:absolute;
  left:2px;
  top:-8px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:281px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u658 {
  position:absolute;
  left:480px;
  top:360px;
  width:374px;
  height:281px;
}
#u659 {
  position:absolute;
  left:2px;
  top:132px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:98px;
}
#u660 {
  position:absolute;
  left:489px;
  top:363px;
  width:98px;
  height:98px;
}
#u661 {
  position:absolute;
  left:2px;
  top:41px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u662 {
  position:absolute;
  left:596px;
  top:387px;
  width:241px;
  height:19px;
  font-size:16px;
}
#u663 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Ebrima Normal', 'Ebrima';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u664 {
  position:absolute;
  left:772px;
  top:379px;
  width:74px;
  height:35px;
  font-family:'Ebrima Normal', 'Ebrima';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u665 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u666 {
  position:absolute;
  left:494px;
  top:480px;
  width:71px;
  height:16px;
}
#u667 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:2px;
}
#u668 {
  position:absolute;
  left:477px;
  top:510px;
  width:377px;
  height:1px;
}
#u669 {
  position:absolute;
  left:2px;
  top:-8px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u670 {
  position:absolute;
  left:508px;
  top:598px;
  width:197px;
  height:16px;
  color:#FFFFFF;
}
#u671 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u672 {
  position:absolute;
  left:494px;
  top:577px;
  width:57px;
  height:16px;
}
#u673 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u674 {
  position:absolute;
  left:777px;
  top:577px;
  width:60px;
  height:16px;
}
#u675 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u676 {
  position:absolute;
  left:820px;
  top:414px;
  width:15px;
  height:16px;
  color:#666666;
}
#u677 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u678 {
  position:absolute;
  left:561px;
  top:475px;
  width:253px;
  height:25px;
}
#u678_input {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:2px;
}
#u679 {
  position:absolute;
  left:477px;
  top:464px;
  width:377px;
  height:1px;
}
#u680 {
  position:absolute;
  left:2px;
  top:-8px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u681 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u682 {
  position:absolute;
  left:477px;
  top:773px;
  width:377px;
  height:40px;
}
#u683 {
  position:absolute;
  left:2px;
  top:12px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u684 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u685 {
  position:absolute;
  left:536px;
  top:788px;
  width:79px;
  height:16px;
}
#u686 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u687 {
  position:absolute;
  left:625px;
  top:788px;
  width:43px;
  height:16px;
}
#u688 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Ebrima Normal', 'Ebrima';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u689 {
  position:absolute;
  left:669px;
  top:779px;
  width:74px;
  height:35px;
  font-family:'Ebrima Normal', 'Ebrima';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u690 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u691 {
  position:absolute;
  left:750px;
  top:777px;
  width:91px;
  height:33px;
}
#u692 {
  position:absolute;
  left:2px;
  top:8px;
  width:87px;
  word-wrap:break-word;
}
#u693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:2px;
}
#u693 {
  position:absolute;
  left:477px;
  top:564px;
  width:377px;
  height:1px;
}
#u694 {
  position:absolute;
  left:2px;
  top:-8px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u695 {
  position:absolute;
  left:494px;
  top:530px;
  width:43px;
  height:16px;
}
#u696 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u697 {
  position:absolute;
  left:811px;
  top:530px;
  width:23px;
  height:16px;
  color:#666666;
}
#u698 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u699 {
  position:absolute;
  left:477px;
  top:574px;
  width:377px;
  height:240px;
  overflow:hidden;
  visibility:hidden;
}
#u699_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:240px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u699_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u700 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u701 {
  position:absolute;
  left:9px;
  top:0px;
  width:377px;
  height:240px;
}
#u702 {
  position:absolute;
  left:2px;
  top:112px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u703 {
  position:absolute;
  left:38px;
  top:23px;
  width:49px;
  height:49px;
}
#u704 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:77px;
}
#u705 {
  position:absolute;
  left:25px;
  top:89px;
  width:77px;
  height:77px;
}
#u706 {
  position:absolute;
  left:2px;
  top:30px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u707 {
  position:absolute;
  left:104px;
  top:39px;
  width:57px;
  height:16px;
}
#u708 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u709 {
  position:absolute;
  left:104px;
  top:120px;
  width:71px;
  height:16px;
}
#u710 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u711 {
  position:absolute;
  left:316px;
  top:38px;
  width:20px;
  height:16px;
}
#u712 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u711_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u713 {
  position:absolute;
  left:316px;
  top:120px;
  width:20px;
  height:16px;
}
#u714 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u713_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:2px;
}
#u715 {
  position:absolute;
  left:0px;
  top:91px;
  width:386px;
  height:1px;
}
#u716 {
  position:absolute;
  left:2px;
  top:-8px;
  width:382px;
  visibility:hidden;
  word-wrap:break-word;
}
#u717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u717 {
  position:absolute;
  left:15px;
  top:179px;
  width:346px;
  height:46px;
}
#u718 {
  position:absolute;
  left:2px;
  top:12px;
  width:342px;
  word-wrap:break-word;
}
#u719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u719 {
  position:absolute;
  left:343px;
  top:12px;
  width:19px;
  height:19px;
}
#u720 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:19px;
}
#u721 {
  position:absolute;
  left:491px;
  top:183px;
  width:26px;
  height:19px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u722 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u723 {
  position:absolute;
  left:494px;
  top:178px;
  width:35px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u724 {
  position:absolute;
  left:477px;
  top:256px;
  width:377px;
  height:96px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u725 {
  position:absolute;
  left:477px;
  top:510px;
  width:378px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
