body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:860px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u319 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u320 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:824px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u321 {
  position:absolute;
  left:471px;
  top:71px;
  width:389px;
  height:824px;
}
#u322 {
  position:absolute;
  left:2px;
  top:404px;
  width:385px;
  visibility:hidden;
  word-wrap:break-word;
}
#u323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u323 {
  position:absolute;
  left:478px;
  top:145px;
  width:376px;
  height:668px;
}
#u324 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:11px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u325 {
  position:absolute;
  left:578px;
  top:101px;
  width:175px;
  height:11px;
}
#u326 {
  position:absolute;
  left:2px;
  top:-2px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u327_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:11px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u327 {
  position:absolute;
  left:578px;
  top:844px;
  width:175px;
  height:11px;
}
#u328 {
  position:absolute;
  left:2px;
  top:-2px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:670px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u329 {
  position:absolute;
  left:477px;
  top:143px;
  width:377px;
  height:670px;
}
#u330 {
  position:absolute;
  left:2px;
  top:327px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u331 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:25px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u332 {
  position:absolute;
  left:478px;
  top:143px;
  width:376px;
  height:25px;
}
#u333 {
  position:absolute;
  left:2px;
  top:4px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:14px;
}
#u334 {
  position:absolute;
  left:742px;
  top:149px;
  width:104px;
  height:14px;
}
#u335 {
  position:absolute;
  left:2px;
  top:-1px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:19px;
}
#u336 {
  position:absolute;
  left:491px;
  top:183px;
  width:26px;
  height:19px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u337 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u338 {
  position:absolute;
  left:487px;
  top:173px;
  width:35px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u339 {
  position:absolute;
  left:477px;
  top:267px;
  width:377px;
  height:509px;
  overflow:hidden;
}
#u339_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:509px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u339_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u340 {
  position:absolute;
  left:0px;
  top:0px;
  touch-action:none;
}
#u340_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u340_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u341 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:165px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u342 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:165px;
}
#u343 {
  position:absolute;
  left:2px;
  top:74px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
}
#u344 {
  position:absolute;
  left:11px;
  top:14px;
  width:81px;
  height:81px;
}
#u345 {
  position:absolute;
  left:2px;
  top:32px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u346 {
  position:absolute;
  left:109px;
  top:44px;
  width:149px;
  height:16px;
}
#u347 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Ebrima Normal', 'Ebrima';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u348 {
  position:absolute;
  left:287px;
  top:40px;
  width:74px;
  height:21px;
  font-family:'Ebrima Normal', 'Ebrima';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u349 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gadugi Normal', 'Gadugi';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u350 {
  position:absolute;
  left:325px;
  top:69px;
  width:40px;
  height:23px;
  font-family:'Gadugi Normal', 'Gadugi';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u351 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gadugi Normal', 'Gadugi';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u352 {
  position:absolute;
  left:109px;
  top:44px;
  width:67px;
  height:16px;
  font-family:'Gadugi Normal', 'Gadugi';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u353 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  visibility:hidden;
  white-space:nowrap;
}
#u354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:2px;
}
#u354 {
  position:absolute;
  left:0px;
  top:116px;
  width:376px;
  height:1px;
  color:#F2F2F2;
}
#u355 {
  position:absolute;
  left:2px;
  top:-8px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u356 {
  position:absolute;
  left:134px;
  top:96px;
  width:234px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u357 {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  white-space:nowrap;
}
#u358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u358 {
  position:absolute;
  left:302px;
  top:5px;
  width:57px;
  height:16px;
  color:#FF0000;
}
#u359 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u360 {
  position:absolute;
  left:291px;
  top:132px;
  width:70px;
  height:20px;
}
#u361 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u362 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u363_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:165px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u363 {
  position:absolute;
  left:0px;
  top:167px;
  width:376px;
  height:165px;
}
#u364 {
  position:absolute;
  left:2px;
  top:74px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
}
#u365 {
  position:absolute;
  left:11px;
  top:181px;
  width:81px;
  height:81px;
}
#u366 {
  position:absolute;
  left:2px;
  top:32px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u367_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u367 {
  position:absolute;
  left:109px;
  top:211px;
  width:149px;
  height:16px;
}
#u368 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u369_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Ebrima Normal', 'Ebrima';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u369 {
  position:absolute;
  left:287px;
  top:207px;
  width:74px;
  height:21px;
  font-family:'Ebrima Normal', 'Ebrima';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u370 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u371_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gadugi Normal', 'Gadugi';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u371 {
  position:absolute;
  left:325px;
  top:236px;
  width:40px;
  height:23px;
  font-family:'Gadugi Normal', 'Gadugi';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u372 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u373_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gadugi Normal', 'Gadugi';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u373 {
  position:absolute;
  left:109px;
  top:211px;
  width:67px;
  height:16px;
  font-family:'Gadugi Normal', 'Gadugi';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u374 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  visibility:hidden;
  white-space:nowrap;
}
#u375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:2px;
}
#u375 {
  position:absolute;
  left:0px;
  top:283px;
  width:376px;
  height:1px;
  color:#F2F2F2;
}
#u376 {
  position:absolute;
  left:2px;
  top:-8px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u377 {
  position:absolute;
  left:134px;
  top:263px;
  width:234px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u378 {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  white-space:nowrap;
}
#u379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u379 {
  position:absolute;
  left:279px;
  top:172px;
  width:85px;
  height:16px;
  color:#FF0000;
}
#u380 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u381 {
  position:absolute;
  left:291px;
  top:299px;
  width:70px;
  height:20px;
}
#u382 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u383 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:213px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u384 {
  position:absolute;
  left:0px;
  top:334px;
  width:376px;
  height:213px;
}
#u385 {
  position:absolute;
  left:2px;
  top:98px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
}
#u386 {
  position:absolute;
  left:11px;
  top:348px;
  width:81px;
  height:81px;
}
#u387 {
  position:absolute;
  left:2px;
  top:32px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u388 {
  position:absolute;
  left:109px;
  top:378px;
  width:149px;
  height:16px;
}
#u389 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Ebrima Normal', 'Ebrima';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u390 {
  position:absolute;
  left:306px;
  top:374px;
  width:74px;
  height:21px;
  font-family:'Ebrima Normal', 'Ebrima';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u391 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gadugi Normal', 'Gadugi';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u392 {
  position:absolute;
  left:325px;
  top:403px;
  width:40px;
  height:23px;
  font-family:'Gadugi Normal', 'Gadugi';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u393 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gadugi Normal', 'Gadugi';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u394 {
  position:absolute;
  left:109px;
  top:378px;
  width:67px;
  height:16px;
  font-family:'Gadugi Normal', 'Gadugi';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u395 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  visibility:hidden;
  white-space:nowrap;
}
#u396_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:2px;
}
#u396 {
  position:absolute;
  left:0px;
  top:450px;
  width:376px;
  height:1px;
  color:#F2F2F2;
}
#u397 {
  position:absolute;
  left:2px;
  top:-8px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u398 {
  position:absolute;
  left:134px;
  top:430px;
  width:234px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u399 {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  white-space:nowrap;
}
#u400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u400 {
  position:absolute;
  left:284px;
  top:346px;
  width:71px;
  height:16px;
  color:#FF0000;
}
#u401 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u402 {
  position:absolute;
  left:291px;
  top:515px;
  width:70px;
  height:20px;
}
#u403 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u404 {
  position:absolute;
  left:18px;
  top:466px;
  width:57px;
  height:16px;
}
#u405 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u406 {
  position:absolute;
  left:18px;
  top:488px;
  width:57px;
  height:16px;
}
#u407 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u408 {
  position:absolute;
  left:97px;
  top:466px;
  width:57px;
  height:16px;
  color:#999999;
}
#u409 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u410 {
  position:absolute;
  left:97px;
  top:488px;
  width:101px;
  height:16px;
  color:#999999;
}
#u411 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u412 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u413_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:213px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u413 {
  position:absolute;
  left:0px;
  top:548px;
  width:376px;
  height:213px;
}
#u414 {
  position:absolute;
  left:2px;
  top:98px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u415_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
}
#u415 {
  position:absolute;
  left:11px;
  top:569px;
  width:81px;
  height:81px;
}
#u416 {
  position:absolute;
  left:2px;
  top:32px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u417_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u417 {
  position:absolute;
  left:109px;
  top:599px;
  width:149px;
  height:16px;
}
#u418 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u419_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Ebrima Normal', 'Ebrima';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u419 {
  position:absolute;
  left:306px;
  top:595px;
  width:74px;
  height:21px;
  font-family:'Ebrima Normal', 'Ebrima';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u420 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u421_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gadugi Normal', 'Gadugi';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u421 {
  position:absolute;
  left:325px;
  top:624px;
  width:40px;
  height:23px;
  font-family:'Gadugi Normal', 'Gadugi';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u422 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u423_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gadugi Normal', 'Gadugi';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u423 {
  position:absolute;
  left:109px;
  top:599px;
  width:67px;
  height:16px;
  font-family:'Gadugi Normal', 'Gadugi';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u424 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  visibility:hidden;
  white-space:nowrap;
}
#u425_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:2px;
}
#u425 {
  position:absolute;
  left:0px;
  top:671px;
  width:376px;
  height:1px;
  color:#F2F2F2;
}
#u426 {
  position:absolute;
  left:2px;
  top:-8px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u427_div {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u427 {
  position:absolute;
  left:134px;
  top:651px;
  width:234px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u428 {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  white-space:nowrap;
}
#u429_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u429 {
  position:absolute;
  left:300px;
  top:567px;
  width:57px;
  height:16px;
  color:#FF0000;
}
#u430 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u431_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u431 {
  position:absolute;
  left:291px;
  top:736px;
  width:70px;
  height:20px;
}
#u432 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u433_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u433 {
  position:absolute;
  left:18px;
  top:687px;
  width:57px;
  height:16px;
}
#u434 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u435_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u435 {
  position:absolute;
  left:18px;
  top:709px;
  width:57px;
  height:16px;
}
#u436 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u437_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u437 {
  position:absolute;
  left:97px;
  top:687px;
  width:57px;
  height:16px;
  color:#999999;
}
#u438 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u439_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u439 {
  position:absolute;
  left:97px;
  top:709px;
  width:101px;
  height:16px;
  color:#999999;
}
#u440 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u441_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u441 {
  position:absolute;
  left:499px;
  top:224px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u442 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
