body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:860px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1012 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1013 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:824px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1014 {
  position:absolute;
  left:471px;
  top:71px;
  width:389px;
  height:824px;
}
#u1015 {
  position:absolute;
  left:2px;
  top:404px;
  width:385px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1016 {
  position:absolute;
  left:478px;
  top:145px;
  width:376px;
  height:668px;
}
#u1017 {
  position:absolute;
  left:2px;
  top:326px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:11px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1018 {
  position:absolute;
  left:578px;
  top:101px;
  width:175px;
  height:11px;
}
#u1019 {
  position:absolute;
  left:2px;
  top:-2px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:11px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1020 {
  position:absolute;
  left:578px;
  top:844px;
  width:175px;
  height:11px;
}
#u1021 {
  position:absolute;
  left:2px;
  top:-2px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1022 {
  position:absolute;
  left:477px;
  top:146px;
  width:377px;
  height:667px;
}
#u1023 {
  position:absolute;
  left:2px;
  top:326px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1024 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.149019607843137);
  -webkit-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.149019607843137);
  box-shadow:0px 0px 2px rgba(0, 0, 0, 0.149019607843137);
}
#u1025 {
  position:absolute;
  left:478px;
  top:764px;
  width:376px;
  height:49px;
}
#u1026 {
  position:absolute;
  left:2px;
  top:16px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1027_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:91px;
  height:14px;
}
#u1027 {
  position:absolute;
  left:772px;
  top:809px;
  width:82px;
  height:5px;
}
#u1028 {
  position:absolute;
  left:2px;
  top:-6px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1029_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:25px;
}
#u1029 {
  position:absolute;
  left:600px;
  top:780px;
  width:2px;
  height:22px;
}
#u1030 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1031 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1032 {
  position:absolute;
  left:526px;
  top:783px;
  width:29px;
  height:16px;
  opacity:0.9;
}
#u1033 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1034 {
  position:absolute;
  left:507px;
  top:783px;
  width:16px;
  height:16px;
  opacity:0.9;
}
#u1035 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1036 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1037 {
  position:absolute;
  left:659px;
  top:783px;
  width:43px;
  height:16px;
  opacity:0.9;
}
#u1038 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1039 {
  position:absolute;
  left:640px;
  top:783px;
  width:16px;
  height:16px;
  opacity:0.9;
}
#u1040 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1041 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1042 {
  position:absolute;
  left:798px;
  top:783px;
  width:29px;
  height:16px;
  opacity:0.9;
}
#u1043 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1044 {
  position:absolute;
  left:781px;
  top:783px;
  width:16px;
  height:16px;
  opacity:0.9;
}
#u1045 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1046_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:25px;
}
#u1046 {
  position:absolute;
  left:741px;
  top:780px;
  width:2px;
  height:22px;
  opacity:0.9;
}
#u1047 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1048 {
  position:absolute;
  left:632px;
  top:779px;
  width:82px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1049 {
  position:absolute;
  left:765px;
  top:779px;
  width:82px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1050 {
  position:absolute;
  left:493px;
  top:777px;
  width:82px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1051 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:25px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1052 {
  position:absolute;
  left:478px;
  top:143px;
  width:376px;
  height:25px;
}
#u1053 {
  position:absolute;
  left:2px;
  top:4px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:14px;
}
#u1054 {
  position:absolute;
  left:742px;
  top:149px;
  width:104px;
  height:14px;
}
#u1055 {
  position:absolute;
  left:2px;
  top:-1px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:19px;
}
#u1056 {
  position:absolute;
  left:491px;
  top:183px;
  width:26px;
  height:19px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1057 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1058 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1059 {
  position:absolute;
  left:579px;
  top:233px;
  width:249px;
  height:40px;
}
#u1059_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1059.mouseOver {
  opacity:0.7;
}
#u1060 {
  position:absolute;
  left:2px;
  top:12px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1061 {
  position:absolute;
  left:587px;
  top:236px;
  width:237px;
  height:34px;
}
#u1061_input {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u1062 {
  position:absolute;
  left:517px;
  top:243px;
  width:49px;
  height:19px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u1063 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1064 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D7D7D7;
}
#u1065 {
  position:absolute;
  left:579px;
  top:290px;
  width:248px;
  height:40px;
  color:#D7D7D7;
}
#u1066 {
  position:absolute;
  left:2px;
  top:12px;
  width:244px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1067 {
  position:absolute;
  left:718px;
  top:290px;
  width:110px;
  height:40px;
  color:#000000;
}
#u1068 {
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u1069 {
  position:absolute;
  left:487px;
  top:173px;
  width:35px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1070 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1071 {
  position:absolute;
  left:579px;
  top:346px;
  width:249px;
  height:40px;
}
#u1071_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1071.mouseOver {
  opacity:0.7;
}
#u1072 {
  position:absolute;
  left:2px;
  top:12px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1073 {
  position:absolute;
  left:587px;
  top:349px;
  width:237px;
  height:34px;
}
#u1073_input {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u1074 {
  position:absolute;
  left:517px;
  top:356px;
  width:49px;
  height:19px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u1075 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1076 {
  position:absolute;
  left:517px;
  top:417px;
  width:309px;
  height:40px;
}
#u1076_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1076.mouseOver {
  opacity:0.7;
}
#u1077 {
  position:absolute;
  left:2px;
  top:12px;
  width:305px;
  word-wrap:break-word;
}
